/* Styles go here */

body {
    background-color: orange;
}

form select, form input {
    display: block;
    margin-bottom: 5px;
}

input[type=button] {
    background-color: lightblue;
}

h1 {
    text-align: center;
}

div {
    position: absolute;
    top: 140px;
    left: 220px;
    width: 32px;
    height: 26px;
    border-radius: 5px;
}

a :hover {
    border: 2px solid lightblue;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
